.night-bg {
    background: #232323;
    color: #ededed;
}

.pagination-night-disabled {
    color: #ededed;
    background: #333333;
    border: 1px solid #333333;
}

.pagination-night-disabled:hover {
    cursor: default;
    color: #ededed;
    background: #333333;
    border: 1px solid #333333;
}

.pagination-night {
    color: #ededed;
    background: #171717;
    border: 1px solid #333333;
}

.pagination-night:hover {
    color: #ededed;
    background: #333333;
    border: none;
}

.input-night {
    background: #222222;
    color: #ededed;
    border: 2px solid #333333;
    content: "sadsa";
}

.input-night:active {
    background: #222222;
    color: #ededed;
} 

.input-night:enabled {
    background: #222222;
    color: #ededed;
}

.card-night {
    background: #202020;
    color: #fafafa;
}

.day-bg {
    background: #ededed;
}

.padre-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-config {
    width: 50%;
}
.flex {
    display: flex;
}

.padre-centrar {
    display: flex;
    align-items: right;
    justify-content: right;
}

.hijo-centrar {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.division-div {
    position: relative;
    width: 100%;
    height: 300px;
}

.division-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.section-div {
    position: relative;
    width: 100%;
    height: 300px;
}

.section-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.img-slideshow {
    position: relative;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    object-fit: cover;
}